<?xml version="1.0" encoding="UTF-8"?>
<phpunit
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/3.4/phpunit.xsd"
         bootstrap="bootstrap.php">
	<testsuites>
	  <testsuite name="API-Administration">
	    <directory>ZSAPI/Administration</directory>
	  </testsuite>
	</testsuites>
</phpunit>